@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway');

// $teal: rgba(#13c9be, 0.68);
$teal: rgba(#13c9be, 0.44);
$lightteal: rgb(142, 255, 224);
$grayblue: #8C95AA;
$lightblue: rgb(218, 222, 255);
$darknavyblue: rgb(44, 49, 73);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 35vh;
  width: 100vw;
  background: $teal;
  padding-left: 3em;
  overflow: scroll;
  padding-bottom: 2em;
}

h1 {
  color: $darknavyblue;
    font-family: 'Playfair Display', serif;
}

p {
  // font-family: 'Playfair Display', serif;
  font-family: 'Raleway', serif;
}

input {
  font-size: 20px;
  width: 200px;
  color: $darknavyblue;
  font-family: 'Raleway', serif;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #8C95AA;
  flex-grow: 1;
  width: 100vw;
  background-image: url(img/dreamcatcher2.jpg);
}

footer {
  background: $darknavyblue;
  height: 5vh;
  width: 100vw;
}



#question-button, #choices-button {
  height: 30px;
  font-size: 18px;
  border-radius: 25px;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  border: .1em solid white;
  border-radius: 50em;
  background: rgba(170, 212, 219, 0.8);
  cursor: pointer;

  &__small {
    height: 160px;
    width: 160px;
  }

  &__medium {
    height: 190px;
    width: 190px;
  }

  &__big {
    height: 210px;
    width: 210px;
  }
}

.bubble-text {
  margin: 0;
  padding: 0;
}
